<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><h2>Bienvenido a  <%= title %></h2></p>
    <p> El portal donde podrá crear sus propios juegos, divertirse y hacer que
      otros se diviertan </p>
    <hr/>
    <footer>
          <p>Posted by: Pilar Ferrer</p>
          <p>Esta es la página de mi proyecto en GITHUB: <a href="https://github.com/PilarFL/quiz">Quiz</a>.</p>
    </footer>
  </body>
</html>
