<!DOCTYPE html>
<html>
  <body>
    <p><h2>Bienvenido a  <%= title %></h2></p>
    <p> El portal donde podrá crear sus propios juegos, divertirse y hacer que
      otros se diviertan </p>
    <p><a href="/quizes/question">Comience a jugar</a></p>
    <hr/>
  </body>
</html>
