    <div><h3>Sobre la autora</h3>
      <p> Hola, soy Pilar Ferrer <br/></p><br/>
      <p> Me gustan las matemáticas y la informática. </p>
      <p> Aunque me dedico a la enseñanza, no he parado de estudiar y aprender nunca y creo que ya no pararé. ;-) </p>
      <p> <img border="0" src="/images/fotoPFL.png" alt="Foto de Pilar" width="149" height="148">
    </div>
